<h1>スタッフ情報修正／削除</h1>

<%= form_with model: @staff do |f| %>
  <div class="field">
    <%= f.label :name, '氏名' %><br>
    <%= f.text_field :name, class: "" %>
  </div>

  <div class="field">
    <%= f.label :rank_id, '役職' %><br>
    <%#= f.select :rank, Staff.ranks.keys, {class: ""} %>
    <%= f.select :rank_id, Rank.all.order("per_hour").map { |rank| [rank.name, rank.id] }, prompt:"＊役職を選択" %>
  </div>

  <div class="field">
    <%= f.label :memo, '備考' %><br>
    <%= f.text_area :memo, class: "" %>
  </div>

  <div class="actions">
    <%= f.submit '修正' %>
    <%= f.submit '削除' %>
  </div>

<% end %>

<p class="back-to-top"><%= link_to '一覧に戻る', staffs_path %></p>