<h1>スタッフ情報一覧</h1>

<div>
  <% @staffs.each do |s| %>
    <div class="store-row">
      <span class="store-id"><%= s.id %>.</span>
      <span class="store-name"><%= s.name %></span>
      <span class="store-button"><%= link_to '変更', edit_staff_path(s), class: "store-button-deco" %></span>
    </div>
  <% end %>
      <span class="store-id"></span>
      <span class="store-name"></span>
      <span class="store-button"><%= link_to '新規作成', new_staff_path, class: "store-button-deco bg-orange" %></span>
</div>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>