<h1>スタッフ獲得件数</h1>

<p><%= @staff.name %>　さん</p>

<br><br><br>

  <%# @staffs.each do |s| %>
  <% while @date_indicator.month == 11 do %>
    <div class="staff-row">
      <% if @date_indicator.wday == 6 %><span style="color: blue;"><% end %>
      <% if @date_indicator.wday == 0 || @date_indicator == Date.new(2021,11,3) || @date_indicator == Date.new(2021,11,23) %>
        <span style="color: red;">
      <% end %>
      <span class="staff-id"><%= @date_indicator.month %>/<%= @date_indicator.day %></span>
      <span class="staff-name"><%= Store.find(1).name %></span>
      <span class="staff-name"><%= Rank.find(@staff.rank_id).name %></span>
      <span class="staff-rank">
        <% rp = Report.where(store_id: 1, date: @date_indicator) %>
        <%= Case.where(report_id: rp, staff_id: @staff.id).sum(:point) %>
      </span>
      <% @date_indicator += 1 %>

      <span class="staff-button"><%#= link_to '獲得数', staff_path(s), class: "staff-button-deco bg-pink" %></span>
      <span class="staff-button"><%#= link_to 'シフト', staff_path(s), class: "staff-button-deco bg-white" %></span>
      <span class="staff-button"><%#= link_to '変更', edit_staff_path(s), class: "staff-button-deco" %></span>

      <% if @date_indicator.wday == 6 || 0 %></span><% end %>
    </div>
  <% end %>


<p class="back-to-top"><%= link_to '一覧に戻る', staffs_path %></p>