<%= form_with(model: @job, local: true) do |f| %>

  <%= render 'job_add', f: f %>

  <%= f.submit '修正' %>

<% end %>

<p class="back-to-top"><%= link_to 'シフト一覧に戻る', jobs_path %></p>

<p class="back-to-top"><%= link_to 'スタッフ一覧に戻る', staffs_path %></p>