<h1>シフト管理</h1>

<p class="page-desription">シフト一覧です。遅くとも当日朝までには入力してください。（時間と役職は後からでも修正できます）
</p>

<div class="search-form">
  <%= render 'search', q: @q, url: jobs_path %>
</div>

<div class="job-arrow-area cf">
  <span class="staff-button">
    <%= link_to '◀︎ 前の週へ', jobs_path(@q, :'q[date_gteq' => "#{@q.date_gteq}".to_date - 7), class: "staff-button-deco float_left fs14" %>
  </span>
  <span class="staff-button">
    <%= link_to '次の週へ ▶︎', jobs_path(@q, :'q[date_gteq' => "#{@q.date_gteq}".to_date + 7), class: "staff-button-deco float_right fs14" %>
  </span>
</div>

<div class="test0 if_width_too_narrow">

  <% if params[:q].present? && params[:q].values.first.present? %>
    <% date_first = params[:q].values.first.to_date %>
    <% date_last = params[:q].values.last.to_date + 6 %>
  <% else %>
      <% date_first = Date.current %>
      <% date_last = Date.current + 6 %>
  <% end %>


  <span class="staff-button">
    <%= link_to '新規作成', new_job_path(date: @q.date_gteq), class: "staff-button-deco bg-orange" %>
  </span><br>
  <br><br>

  <!-- 日付の欄 -->
  <div class="test0">
    <span class="test1">
    </span>

    <% for d in date_first..date_last do %>
      <span class="test1">
        <%= d.strftime("%m/%d(#{@wd[d.wday]})") %>
      </span>
    <% end %>
  </div>


  <!-- スタッフシフトの欄 -->
  <% if @staffs.exists? %>

    <% i = 0 %>
    <% while i < @staffs.count %>
      <% i += 1 %>

      <div class="test0">
        <%= link_to(edit_staff_path(i), class: "btn-job-name") do %>
          <span class="test1">
            <p class="fs14">
              <%= @staffs.find(i).name %>
            </p>
          </span>
        <% end %>

        <% for d in date_first..date_last do %>
          <% job_spot = @jobs_by_date.find_by(staff_id: i, date: d) %>

          <% if job_spot.nil? %>
            <%= link_to(new_job_path(staff_id: i, date: d), class: "btn-job-spot") do %>
              <span class="test1">
                <p style="line-height: 55px; font-size: 11px;">
                  (追加)
                </p>
              </span>
            <% end %>
          <% else %>
            <%= link_to(edit_job_path(job_spot.id), class: "btn-job-spot") do %>
              <span class="test1 bg-light-orange">
                <p class="fs14">
                  <%= job_spot.time_start.strftime("%H:%M") %>-<%= job_spot.time_end.strftime("%H:%M") %>
                </p>
                <p class="fs12">　
                  <% unless job_spot.time_break == 0 || job_spot.time_break == nil %>
                    (休憩 <%= job_spot.time_break %>分)
                  <% end %>　
                </p>
                <p class="fs12">
                  <% unless job_spot.store_id.nil? %>
                    <%= @stores.find(job_spot.store_id).name %>
                  <% end %>
                </p>
                <p class="fs12">
                  <% unless job_spot.rank_id.nil? %>
                    <%= Rank.find(job_spot.rank_id).name %>
                  <% end %>
                </p>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>

<!-- <div id="sp-only">
  <p class="fs12">こちらはPCでのご利用をお願いいたします <i class="far fa-sad-tear"></i></p>
</div> -->

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>