<h1>獲得一覧</h1>


<% @reports.each do |r| %>
  <%= r.date %><br>

  <% @cases.each do |c| %>

    <div class="case-index-row">
      <% if c.comment_by_client.present? %>
        <p style="color: #bbbbbb">
      <% else %>
        <p>
      <% end %>
          <%# report = @reports.find(c.report_id) %>
          <%#= report.date.strftime("%m/%d(#{@wd[report.date.wday]})") %>
          <%#= check_box_tag :confirmed_by_client, c %>

          契約者氏名：<%= c.customer_name %><br>
          備　　　考：<%= c.memo %><br>
          ご　返　信：<%= c.comment_by_client %><br>
        </p>

      <%= link_to '操作', edit_case_path(c.id), class:"" %>

    </div>

  <br>

  <% end %>

<% end %>


<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>