<span class="test11">
  <%= b.id %>
</span>
<span class="test11">
  <%= number_to_currency(b.staff_c, unit: "¥", format: "%u %n", precision: 0) %>
</span>
<span class="test11">
  <%= number_to_currency(b.staff_b, unit: "¥", format: "%u %n", precision: 0) %>
</span>
<span class="test11">
  <%= number_to_currency(b.staff_a, unit: "¥", format: "%u %n", precision: 0) %>
</span>
<span class="test11">
  <%= number_to_currency(b.lead_b, unit: "¥", format: "%u %n", precision: 0) %>
</span>
<span class="test11">
  <%= number_to_currency(b.lead_a, unit: "¥", format: "%u %n", precision: 0) %>
</span>