<h1>インセンティブ表</h1>


<p class="page-desription"><b>獲得件数加算給料</b></p>

<div class="bounty-row">
  <span class="col-common bounty-col bounty-col-middle">獲得件数</span>
  <span class="col-common bounty-col bounty-col-middle">Staff(C)</span>
  <span class="col-common bounty-col bounty-col-middle">Staff(B)</span>
  <span class="col-common bounty-col bounty-col-middle">Staff(A)</span>
  <span class="col-common bounty-col bounty-col-middle">Lead(B)</span>
  <span class="col-common bounty-col bounty-col-middle">Lead(A)</span>
  <span class="col-common bounty-col bounty-col-middle">修正</span>
</div>

<% @bounties.each do |b| %>
  <% unless b.staff_c == 0 && b.staff_b == 0 && b.staff_a == 0 && b.lead_b == 0 && b.lead_a == 0 %>
    <div class="bounty-row">
      <%= render 'index_row', b: b %>
      <span class="col-common bounty-col bounty-button">
        <%= link_to '修正', edit_bounty_path(b.id), class: "store-button-deco" %>
      </span>
    </div>
  <% end %>
<% end %>

<br>
<br>
<p class="page-desription"><b>チーム獲得件数</b></p>

<div class="bounty-row">
  <span class="col-common bounty-col bounty-col-middle">
    件数
  </span>
  <span class="col-common bounty-col bounty-col-middle">
    係数
  </span>
  <span class="col-common bounty-col bounty-col-middle">
    修正
  </span>
</div>

<% @bounties.each do |b| %>
  <div class="bounty-row">
    <span class="col-common bounty-col bounty-col-middle">
      <%= b.id %>
    </span>
    <span class="col-common bounty-col bounty-col-middle">
      <%= b.ratio %>
    </span>
    <span class="col-common bounty-col bounty-col-middle">
      <%= link_to '修正', edit_bounty_path(b.id), class: "store-button-deco" %>
    </span>
  </div>
<% end %>


<p class="back-to-top"><%= link_to '新規作成', new_bounty_path %></p>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>