<h1>役職一覧</h1>

<p class="page-desription">役職の確認と修正ができます。</p>

<div>
    <div class="rank-row">
      <span class="col-common rank-col rank-name">役職名</span>
      <span class="col-common rank-col rank-per_hour">時給</span>
      <span class="col-common rank-col rank-req">昇級条件</span>
      <span class="rank-button"></span>
    </div>

  <% @ranks.each do |r| %>
    <div class="rank-row">
      <span class="col-common rank-col rank-name">
        <%= r.name %>
      </span>
      <span class="col-common rank-col rank-per_hour">
        <%#= r.per_hour %>
        <%= number_to_currency(r.per_hour, unit: "¥", format: "%u %n", precision: 0) %>
      </span>
      <span class="col-common rank-col rank-req">
        <%= safe_join(r.requirements.split("\n"),tag(:br)) %>
      </span>
      <span class="col-common rank-col rank-button">
        <%= link_to '変更', edit_rank_path(r.id), class: "store-button-deco" %>
      </span>
    </div>
  <% end %>

    <div class="rank-row">
      <span class="col-common rank-col rank-name"></span>
      <span class="col-common rank-col rank-per_hour"></span>
      <span class="col-common rank-col rank-req"></span>
      <span class="col-common rank-col rank-button">
        <%= link_to '新規作成', new_rank_path, class: "store-button-deco bg-orange" %>
      </span>
    <div class="rank-row">

</div>


<p class="page-desription">
  ◆支払い条件<br>
  ① 支給月にポマト・プロに在籍していること<br>
  ② 完了月の翌々月末に支給<br>
  ③ 不正、虚偽によるクレーム等が発生した場合は支給対象外となる<br>
  ④ 不正、虚偽によるクレーム等が支給してから発生した場合は返金対象となる<br>
  ⑤ 納品ベースでのカウントとする<br>
  ⑥ 1件の定義は新規での注文となります<br>
</p>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>