<h1>役職一覧</h1>

<p class="page-desription">役職の確認と修正ができます。</p>

<div>
    <div class="store-row">
      <span class="store-button">役職名</span>
      <span class="store-button">時給</span>
      <span class="store-button">昇級条件</span>
      <span class="store-button"></span>
    </div>

  <% @ranks.each do |r| %>
    <div class="store-row">
      <span class="store-button"><%= r.name %></span>
      <span class="store-button">
        <%#= r.per_hour %>
        <%= number_to_currency(r.per_hour, unit: "¥", format: "%u %n", precision: 0) %>
      </span>
      <span class="store-button"><%= safe_join(r.requirements.split("\n"),tag(:br)) %></span>
      <span class="store-button"><%= link_to '変更', edit_rank_path(r.id), class: "store-button-deco" %></span>
    </div>
  <% end %>

      <span class="store-button"></span>
      <span class="store-button"></span>
      <span class="store-button"></span>
      <span class="store-button"><%= link_to '新規作成', new_rank_path, class: "store-button-deco bg-orange" %></span>

</div>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>