<h1>OniGOレポ</h1>


<%= link_to '新規報告', root_path, class: 'top-button fs20 bg-orange' %>
<p class="top-button-description">1日の報告書を作成してください。</p>

<%= link_to '編　　集', root_path, class: 'top-button fs20' %>
<p class="top-button-description">一時保存した報告書を編集できます。</p>

<%= link_to '報告一覧', root_path, class: 'top-button fs20' %>
<p class="top-button-description">今まで提出した報告書を確認できます。</p>

<h4>＜管理者用メニュー＞</h4>

<%= link_to '催事場所管理', stores_path, class: 'top-button fs20 bg-white' %>
<p class="top-button-description">催事場所の追加や編集を行います。新規の場合は必ず実施の前日までに追加してください。</p>

<%= link_to 'スタッフ管理', staffs_path, class: 'top-button fs20 bg-white' %>
<p class="top-button-description">スタッフの追加、編集を行います。</p>

<p class="top-button-description">ログアウトは<%= link_to 'こちら', destroy_user_session_path, method: :delete %></p>