<h1>OniGOレポ</h1>



<p class="top-button-description">
  <% if user_signed_in? %>
    <B><%= @user.name %></B>　さん。今日もお疲れさまです <i class="far fa-grin-beam"></i>
  <% end %>
</p>



<% if current_user.account_level == "director" || current_user.account_level == "headquarter_admin" || current_user.account_level == "manager" || current_user.account_level == "admin" %>
  <% if @report_today.nil? %>
    <%= link_to '開始報告', new_report_path, class: 'top-button fs22 bg-pink' %>
      <p class="top-button-description"><i class="fas fa-info-circle"></i> イベント報告をする店舗を登録してください。登録すると獲得報告を送ることができます。</p>
  <% elsif @report_today_draft.present? %>
    <%= link_to '獲得速報', new_case_path, class: 'top-button fs22 bg-orange' %>
      <p class="top-button-description"><i class="fas fa-info-circle"></i> 契約が決まったら1件ごとに獲得報告をしてください。（当日のみ報告可）</p>
    <%= link_to '実施報告', edit_report_path(@report_today), class: 'top-button fs22 bg-light-orange' %>
      <p class="top-button-description"><i class="fas fa-info-circle"></i> 1日の催事が終わったら実施報告をお願いします。（一時保存可。当日分のみ報告可）</p>
  <% end %>

  <%= link_to '報告一覧', reports_path, class: 'top-button fs22' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> 自分が提出した報告書一覧です。過去の未提出報告書もこちらから確認できます。
    <% if @report_unsubmitted.present? %>
      <br><span class="" style="color: red;"><b>未提出の報告書があります。</b></span>
    <% end %>
  </p>
<% end %>



<% if current_user.account_level == "client" || current_user.account_level == "manager" || current_user.account_level == "admin" %>
  <h4>＜クライアントメニュー＞</h4>

  <%= link_to '催事報告', cases_path, class: 'top-button fs22 bg-orange' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> 獲得状況の一覧を表示します。何かコメントがあればこちらからお願いいたします。</p>
<% end %>



<% if current_user.account_level == "headquarter" || current_user.account_level == "headquarter_admin" || current_user.account_level == "manager" || current_user.account_level == "admin" %>
  <h4>＜管理者用メニュー＞</h4>

  <%= link_to '催事場所管理', stores_path, class: 'top-button fs22 bg-white' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> 催事場所の追加や編集を行います。新規の場合は必ず実施の前日までに追加してください。</p>
<% end %>

<% if current_user.account_level == "headquarter_admin" || current_user.account_level == "manager" || current_user.account_level == "admin" %>
  <%= link_to 'スタッフ管理', staffs_path, class: 'top-button fs22 bg-white' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> スタッフの追加、編集を行います。</p>

  <%= link_to 'シフト入力', jobs_path(@q, :'q[date_gteq' => Date.current), class: 'top-button fs22 bg-white' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> シフトの追加、編集を行います。</p>

  <%#= link_to '実績一覧', root_path, class: 'top-button fs22 bg-pink' %>
  <!-- <p class="top-button-description"><i class="fas fa-info-circle"></i> 店舗ごとの累計獲得数など実績を確認します。</p> -->

  <%= link_to '人件費管理', payments_path(@q, :'q[date_gteq' => Date.current.beginning_of_month, :'q[date_lteq' => Date.current.end_of_month), class: 'top-button fs22 bg-pink' %>
  <p class="top-button-description"><i class="fas fa-info-circle"></i> スタッフごとの獲得実績や、日当・インセンティブなど支払い額を確認します。（PC専用）</p>
<% end %>

<% if current_user.account_level == "manager" || current_user.account_level == "admin" %>
  <p class="top-button-description">インセンティブの修正は<%= link_to 'こちら', bounties_path %></p>

  <p class="top-button-description">役職の修正は<%= link_to 'こちら', ranks_path %></p>

  <p class="top-button-description">更新履歴は<%= link_to 'こちら', history_path %></p>
<% end %>

<p class="top-button-description">困ったときは<%= link_to 'こちら', about_path %></p>

<p class="top-button-description">ログアウトは<%= link_to 'こちら', destroy_user_session_path, method: :delete %></p>