<h1>報酬明細</h1>

<div class="if_width_too_narrow">

  <div class="search-form">
    <%= render 'search', q: @q, url: payments_path %>
  </div>

  <div class="job-arrow-area cf">
    <span class="staff-button">
      <%= link_to '◀︎ 前の月へ', payments_path(@q, :'q[date_gteq' => "#{@q.date_gteq}".to_date.prev_month.beginning_of_month, :'q[date_lteq' => "#{@q.date_lteq}".to_date.prev_month.end_of_month), class: "staff-button-deco float_left fs14" %>
    </span>
    <span class="staff-button">
      <%= link_to '次の月へ ▶︎', payments_path(@q, :'q[date_gteq' => "#{@q.date_gteq}".to_date.next_month.beginning_of_month, :'q[date_lteq' => "#{@q.date_lteq}".to_date.next_month.end_of_month), class: "staff-button-deco float_right fs14" %>
    </span>
  </div>


  <div>
      <div class="payment-row fs14">
        <span class="col-common pay-col pay-col-middle">日付</span>
        <span class="col-common pay-col pay-col-wide">氏名</span>
        <span class="col-common pay-col pay-col-middle">店舗</span>
        <span class="col-common pay-col pay-col-narrow">シフト</span>
        <span class="col-common pay-col pay-col-narrow">時間数</span>
        <span class="col-common pay-col pay-col-narrow">獲得数</span>
        <span class="col-common pay-col pay-col-narrow">役職</span>
        <span class="col-common pay-col pay-col-middle">時給</span>
        <span class="col-common pay-col pay-col-narrow">店実績</span>
        <span class="col-common pay-col pay-col-middle">インセン</span>
        <span class="col-common pay-col pay-col-middle">日当合計</span>
      </div>


    <% @results.each do |p| %>
      <div class="payment-row fs14">

        <% unless Job.find(p.job_id).nil? %>
          <% job = Job.find_by(staff_id: p.staff_id, date: p.date) %>

          <!-- 日付 -->
          <span class="col-common pay-col pay-col-middle">
            <%= p.date.strftime("%m/%d(#{@wd[p.date.wday]})") %>
          </span>

          <!-- 氏名 -->
          <span class="col-common pay-col pay-col-wide">
            <% if job.staff_id.present? %>
              <%= Staff.find(job.staff_id).name %>
            <% end %>
          </span>

          <!-- 店舗 -->
          <span class="col-common pay-col pay-col-middle fs12">
            <% if job.store_id.present? %>
              <%= job.store_id %>. <%= Store.find(job.store_id).name %>
            <% end %>
          </span>

          <!-- シフト -->
          <span class="col-common pay-col pay-col-narrow">
            <%= job.time_start.strftime("%H:%M") %> -
            <p class="t-right"><%= job.time_end.strftime("%H:%M") %></p>
          </span>

          <!-- 時間数 -->
          <span class="col-common pay-col pay-col-narrow">
            <%= p.working_hours %>
          </span>

          <!-- 獲得数 -->
          <span class="col-common pay-col pay-col-narrow">
            <% rp = Report.find_by(store_id: job.store_id, date: p.date) %>
            <% unless p.nil? %>
              <% if p.indivisual_point == nil? %>
                <% indivisual_point = Case.where(report_id: rp, staff_id: p.staff_id).sum(:point).to_f %>
                <%= indivisual_point %>
              <% else %>
                <%= p.indivisual_point %>
              <% end %>
            <% end %>
          </span>

          <!-- 役職 -->
          <span class="col-common pay-col pay-col-narrow fs12">
            <%= Rank.find(job.rank_id).name %>
          </span>

          <!-- 時給 -->
          <span class="col-common pay-col pay-col-middle">
            <% if p.per_hour.nil? %>
              <% per_hour = @ranks.find(job.rank_id).per_hour %>
              <%= number_to_currency(per_hour, unit: "¥", format: "%u %n", precision: 0) %>
            <% else %>
              <%= number_to_currency(p.per_hour, unit: "¥", format: "%u %n", precision: 0) %>
            <% end %>
          </span>

          <!-- 店実績 -->
          <span class="col-common pay-col pay-col-narrow">
            <% if p.store_point.present? %>
              <%= p.store_point %>
            <% elsif job.present? && Report.find_by(date: p.date, store_id: job.store_id).present? %>
              <%= Report.find_by(date: p.date, store_id: job.store_id).scores.sum(:point) %>
            <% end %>
          </span>

          <!-- インセン -->
          <span class="col-common pay-col pay-col-middle">
            <% if p.bonus_base.present? && p.bonus_ratio.present? %>
              <% bounty = p.bonus_base * p.bonus_ratio %>
              <%= number_to_currency(bounty, unit: "¥", format: "%u %n", precision: 0) %><br>
              <span style="font-size: 9px">
                (<%= number_to_currency(p.bonus_base, unit: "¥", format: "%u %n", precision: 0) %> x<%= p.bonus_ratio %>)
              </span>
            <% end %>
          </span>

          <!-- 日当合計 -->
          <span class="col-common pay-col pay-col-middle">
            <% if p.bonus_base.present? && p.working_hours.present? %>
              <% if p.working_hours > 8 %>
                <% extra_time = [(p.working_hours - 8), 0].max %>
                <% time_value = 8 + extra_time * 1.25 %>
              <% else %>
                <% time_value = p.working_hours %>
              <% end %>
              <% salary = p.per_hour * time_value %>

              <%= number_to_currency(salary + bounty, unit: "¥", format: "%u %n", precision: 0) %>
            <% end %>
            <%# if p.bonus_base.nil? %>
              <%# daily_payment = per_hour * p.working_hours %>
            <%# else %>
              <%# daily_payment = per_hour * p.working_hours + p.bonus_base %>
            <%# end %>
            <%#= number_to_currency(daily_payment, unit: "¥", format: "%u %n", precision: 0) %>
          </span>

          <%#= link_to(edit_payment_path(p.id), class: "") do %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<div id="sp-only">
  <p class="fs12">こちらはPCでのご利用をお願いいたします <i class="far fa-sad-tear"></i></p>
</div>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>