<br><br>

<div class="nested-fields">

  <p class="t-center fs14">
    -  <%= @report.cases.order("timeframe").index(f.object)+1 %>  件目  -
  </p>

  <div class="field">
    <span class="col-common form-new-left">
      <%= f.label :timeframe, '獲得時間', class: "form-new-left40" %>
    </span>
    <span class="col-common form-new-right">
      <%= f.select :timeframe, Case.timeframes.keys, {class: "form-new-right60", prompt:"時間帯を選択"} %>
    </span>
  </div>

  <div class="field">
    <span class="col-common form-new-left">
      <%= f.label :customer_name, '契約者氏名' %>
    </span>
    <span class="col-common form-new-right">
      <% if f.object.customer_name.present? %>
        <%= f.object.customer_name %>　様
      <% end %>
    </span>
  </div>

  <%#= link_to_remove_association "獲得の削除", f, class:"btn btn-danger cocoon_remove_button", style:"margin-top:15px;" %>

  <div class="field">
    <%= f.fields_for :scores do |sc| %>
      <%= render 'score_fields', f: sc %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "スタッフ追加", f, :scores, class: "cocoon_add_button" %>
    </div>
  </div>

</div>