<div class="field">
  報告担当 <%= @user.name %>
</div>

<%= form_with(model: @report, local: true) do |f| %>

  <div class="field">
    <span class="col-common form-new-left">
      <%= f.label :date, '日　　付' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.date_field :date %>
    </span>
  </div>

  <div class="field">
    <span class="col-common form-new-left">
      <%= f.label :store_id, '実施場所' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.collection_select :store_id, Store.all, :id, :name, include_blank: '実施場所を選択', class: '' %>
      <%#= f.select :store_id, Store.all.map { |store| [store.name, store.id] } %>
    </span>
  </div>

  <div class="field">
    <span class="col-common form-new-left">
      <%= f.label :target, '目標件数' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.number_field :target, class: "number_field" %>　件
    </span>
  </div>

  <div class="field">
    <span class="col-common form-new-right">
      <%= f.label :memo, '総　　評' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.text_area :memo, placeholder: "備考があれば記載してください。", cols: 30, rows: 8, class: "form-right" %>
    </span>
  </div>

  <br>

  <p>========================</p>

  <!-- 件数報告 -->
  <details open>
  <summary>獲得件数報告</summary>
    <p style="font-size: 12px;">
      獲得の時間帯と獲得者を選んでください。1件を複数人で分配する場合は人数分作成し、その合計が1.0点になるように入力してください。<br>
      (例)1件をAさんとBさんに半分ずつ分配：2件作成し、Aさん0.5点、Bさん0.5点と入力
    </p>

    <%#= f.fields_for :cases do |cc| %>
    <br>

    <%= f.fields_for :cases, @report.cases.sort_by(&:timeframe) do |cc| %>
      <%= render 'case_fields', f: cc %>
    <% end %>

    <div style="margin: 20px;">
      <%#= link_to_add_association '実績の追加', f, :cases, { class: "btn btn-primary", style: "" } %>
    </div>
  </details>

  <p>========================</p>

  <!-- 勤怠報告 -->
  <!-- <details open> -->
  <!-- <summary>勤怠報告</summary> -->

  <!-- </details> -->

  <!-- <p>========================</p> -->

  <!-- マケ用データ -->
  <details open>
  <summary>アンケート</summary>

    <span class="fs14">

      <p class="q_title fs16">1. アクション内容</p>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_approached, 'お声かけ' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_approached, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_discussed, 'お話ができた' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_discussed, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_purchased, '購入いただけた' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_purchased, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_downloaded_only, 'ダウンロードのみ' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_downloaded_only, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_discussed_only, 'お話だけだった' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_discussed_only, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :action_promotion_done, 'キャンペーン済み' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :action_promotion_done, class: "number_field" %>　件
        </span>
      </div>

      <p class="q_title fs16">2. お話ができた方へ</p>

      <p class="q_subtitle fs14">[購入いただけた]</p>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :purchased_for_value, 'お得だから' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :purchased_for_value, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :purchased_for_wanted, '欲しい商品だった' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :purchased_for_wanted, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :purchased_for_trial, 'OniGOを使ってみたかった' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :purchased_for_trial, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :purchased_for_others, 'その他' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :purchased_for_others, class: "number_field" %>　件
        </span>
      </div>

      <div class="field">
        <%= f.label :purchased_for_others_memo, 'フリーコメント' %>
        <%= f.text_area :purchased_for_others_memo, style: "float: right;" %>
      </div>

      <p class="q_subtitle fs14">[ダウンロードのみ]</p>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :downloaded_only_for_no_time, '今、時間がない' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :downloaded_only_for_no_time, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :downloaded_only_for_no_cards, 'クレジットカードなし' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :downloaded_only_for_no_cards, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :downloaded_only_for_app_error, 'アプリ不具合' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :downloaded_only_for_app_error, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :downloaded_only_for_others, 'その他' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :downloaded_only_for_others, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <%= f.label :downloaded_only_for_others_memo, 'フリーコメント' %>
        <%= f.text_area :downloaded_only_for_others_memo, style: "float: right;" %>
      </div>

      <p class="q_subtitle fs14">[お話だけだった]</p>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_no_time, '今、時間がない' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_no_time, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_no_downloadable, 'DLできない' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_no_downloadable, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_denying_cards, 'クレジットカード拒否' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_denying_cards, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_no_demand, '欲しいものがない' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_no_demand, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_app_error, 'アプリ不具合' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_app_error, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_denying_app, 'アプリ拒否' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_denying_app, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :discussed_only_for_others, 'その他' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :discussed_only_for_others, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <%= f.label :discussed_only_for_others_memo, 'フリーコメント' %>
        <%= f.text_area :discussed_only_for_others_memo, style: "float: right;" %>
      </div>

      <p class="q_subtitle fs14">[キャンペーン済]</p>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :promotion_done_for_value1, '項目１' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :promotion_done_for_value1, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :promotion_done_for_value2, '項目２' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :promotion_done_for_value2, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :promotion_done_for_value3, '項目３' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :promotion_done_for_value3, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :promotion_done_for_value4, '項目４' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :promotion_done_for_value4, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <span class="form-new-left_wide">
          <%= f.label :promotion_done_for_others, 'その他' %>
        </span>
        <span class="form-new-right_narrow">
          <%= f.number_field :promotion_done_for_others, class: "number_field" %>　件
        </span>
      </div>

      <div class="field cf">
        <%= f.label :promotion_done_for_others_memo, 'フリーコメント' %>
        <%= f.text_area :promotion_done_for_others_memo, style: "float: right;" %>
      </div>

    </span>

  </details>

  <p class="page-desription" style="font-size: 12px"><%= f.check_box :is_submitted, :style => "height=1em; " %>  実績報告を<B>提出</B>する場合はチェックを入れてください（チェックをつけずに更新ボタンを押すと一時保存ができます）</p>

  <div>
    <% if action_name == "edit" %>
      <%= f.submit "更新", data: { confirm: "実施報告を更新します。よろしいですか？" }, class:"btn btn-lg btn-success button-send" %>
    <% else %>
      <%= f.submit "更新", data: { confirm: "実施報告を更新します。よろしいですか？" }, class:"btn btn-lg btn-success button-send" %>
    <% end %>
  </div>

<% end %>
