<h1>実施報告</h1>

<div class="field">
  報告担当 <%= @user.name %>
</div>

<%= form_with(model: @report, local: true) do |f| %>

  <div class="field">
    <%= f.label :date, '日　　付' %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :store_id, '実施場所' %>
    <%= f.collection_select :store_id, Store.all, :id, :name, include_blank: '実施場所を選択', class: '' %>
    <%#= f.select :store_id, Store.all.map { |store| [store.name, store.id] } %>
  </div>

  <div class="field">
    <%= f.label :target, '目標件数' %>
    <%= f.number_field :target, class: "" %>　件
  </div>

  <div class="field">
    <%= f.label :target, '総　　評' %>
    <%= f.text_field :target, placeholder: "", class: "" %>
    <%#= f.text_area :target, placeholder: "以下のコメント以外に何かあれば記載してください。", class: "" %>
  </div>

  <br>

  <p>========================</p>

  <!-- 件数報告 -->
  <details open>
  <summary>獲得件数報告（</summary>
    <p style="font-size: 12px;">
      獲得の時間帯と獲得者を選んでください。1件を複数人で分配する場合は人数分作成し、その合計が1.0点になるように入力してください。<br>
      (例)1件をAさんとBさんに半分ずつ分配：2件作成し、Aさん0.5点、Bさん0.5点と入力
    </p>


    <%#= f.fields_for :cases do |cc| %>
    <%= f.fields_for :cases, @report.cases.sort_by(&:timeframe) do |cc| %>
      <%= render 'case_fields', f: cc %>
    <% end %>

    <div style="margin: 20px;">
      <%#= link_to_add_association '実績の追加', f, :cases, { class: "btn btn-primary", style: "" } %>
    </div>
  </details>

  <p>========================</p>

  <!-- 勤怠報告 -->
  <details open>
  <summary>勤怠報告</summary>

  </details>

  <p>========================</p>

  <!-- マケ用データ -->
  <details open>
  <summary>アンケート</summary>

    <p style="margin: 20px 0;">1. アクション内容</p>

    <div class="field">
      <%= f.label :action_approached, 'お声かけ' %>
      <%= f.number_field :action_approached, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :action_discussed, 'お話ができた' %>
      <%= f.number_field :action_discussed, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :action_purchased, '購入いただけた' %>
      <%= f.number_field :action_purchased, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :action_downloaded_only, 'ダウンロードのみ' %>
      <%= f.number_field :action_downloaded_only, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :action_discussed_only, 'お話だけだった' %>
      <%= f.number_field :action_discussed_only, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :action_promotion_done, 'キャンペーン済み' %>
      <%= f.number_field :action_promotion_done, class: "" %>　件
    </div>

    <p style="margin: 20px 0;">2. お話ができた方へ</p>

    <p style="margin: 10px 0;">[購入いただけた]</p>

    <div class="field">
      <%= f.label :purchased_for_value, 'お得だから' %>
      <%= f.number_field :purchased_for_value, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :purchased_for_wanted, '欲しい商品だった' %>
      <%= f.number_field :purchased_for_wanted, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :purchased_for_trial, 'OniGOを使ってみたかった' %>
      <%= f.number_field :purchased_for_trial, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :purchased_for_others, 'その他' %>
      <%= f.number_field :purchased_for_others, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :purchased_for_others_memo, 'フリーコメント' %>
      <%= f.text_area :purchased_for_others_memo, class: "" %>
    </div>

    <p style="margin: 10px 0;">[ダウンロードのみ]</p>

    <div class="field">
      <%= f.label :downloaded_only_for_no_time, '今、時間がない' %>
      <%= f.number_field :downloaded_only_for_no_time, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :downloaded_only_for_no_cards, 'クレジットカードなし' %>
      <%= f.number_field :downloaded_only_for_no_cards, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :downloaded_only_for_app_error, 'アプリ不具合' %>
      <%= f.number_field :downloaded_only_for_app_error, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :downloaded_only_for_others, 'その他' %>
      <%= f.number_field :downloaded_only_for_others, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :downloaded_only_for_others_memo, 'フリーコメント' %>
      <%= f.text_area :downloaded_only_for_others_memo, class: "" %>
    </div>

    <p style="margin: 10px 0;">[お話だけだった]</p>

    <div class="field">
      <%= f.label :discussed_only_for_no_time, '今、時間がない' %>
      <%= f.number_field :discussed_only_for_no_time, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_no_downloadable, 'DLできない' %>
      <%= f.number_field :discussed_only_for_no_downloadable, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_denying_cards, 'クレジットカード拒否' %>
      <%= f.number_field :discussed_only_for_denying_cards, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_no_demand, '欲しいものがない' %>
      <%= f.number_field :discussed_only_for_no_demand, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_app_error, 'アプリ不具合' %>
      <%= f.number_field :discussed_only_for_app_error, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_denying_app, 'アプリ拒否' %>
      <%= f.number_field :discussed_only_for_denying_app, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_others, 'その他' %>
      <%= f.number_field :discussed_only_for_others, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :discussed_only_for_others_memo, 'フリーコメント' %>
      <%= f.text_area :discussed_only_for_others_memo, class: "" %>
    </div>

    <p style="margin: 10px 0;">[キャンペーン済]</p>

    <div class="field">
      <%= f.label :promotion_done_for_value1, '項目１' %>
      <%= f.number_field :promotion_done_for_value1, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :promotion_done_for_value2, '項目２' %>
      <%= f.number_field :promotion_done_for_value2, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :promotion_done_for_value3, '項目３' %>
      <%= f.number_field :promotion_done_for_value3, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :promotion_done_for_value4, '項目４' %>
      <%= f.number_field :promotion_done_for_value4, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :promotion_done_for_others, 'その他' %>
      <%= f.number_field :promotion_done_for_others, class: "" %>　件
    </div>

    <div class="field">
      <%= f.label :promotion_done_for_others_memo, 'フリーコメント' %>
      <%= f.text_area :promotion_done_for_others_memo, class: "" %>
    </div>

  </details>


  <p class="page-desription" style="font-size: 12px"><%= f.check_box :is_submitted, :style => "height=1em; " %>  実績報告を<B>提出</B>する場合はチェックを入れてください（チェックをつけずに更新ボタンを押すと一時保存ができます）</p>

  <div>
    <% if action_name == "new" %>
      <%= f.submit "更新", data: { confirm: "実施報告を更新します。よろしいですか？" }, class:"btn btn-lg btn-success", style:"" %>
    <% else %>
      <%= f.submit "更新", data: { confirm: "実施報告を更新します。よろしいですか？" }, class:"btn btn-lg btn-success", style:"" %>
    <% end %>
  </div>

<% end %>


<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>