<h1>一時保存リスト</h1>

<p class="page-desription">報告を完了するには提出ボックスにチェックを入れて再度更新してください。</p>

<div>
    <div class="store-row">
      <span class="store-button">保存日時</span>
      <span class="store-button">実施日</span>
      <span class="store-button">店舗</span>
      <span class="store-button"></span>
    </div>

  <% @reports.each do |r| %>
    <div class="store-row">
      <span class="store-button"><%= r.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
      <span class="store-button"><%= r.date.strftime("%m/%d(#{@wd[r.date.wday]})") %></span>
      <span class="store-button"><%= Store.find(r.store_id).name %></span>
      <span class="store-button"><%= link_to '変更', edit_report_path(r), class: "store-button-deco" %></span>
    </div>
  <% end %>
</div>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>