<h1>新規報告</h1>

<!-- <div class="field">
  報告者<br>
  <%#= @user.name %>
</div> -->

<%= form_with model: @report do |f| %>
  <div class="field">
    <%= f.label :date, '日付' %><br>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :store_id, '実施場所' %><br>
    <%= f.select :store_id, Store.all.map { |store| [store.name, store.id] } %>
    <%#= f.select :name, Human.all.map { |human| [human.name, human.id] } %>
    <!-- .select(メソッド名, 要素(配列 or ハッシュ) [, オプション or HTML属性 or イベント属性]) -->
    <%#= f.select :store_id, @stores.ids, {prompt: '選択してください'} %>
    <%#= f.collection_select :store_id, @stores, :id, :name, { prompt: '選択してください' }, { class: 'form-control' } %>

  </div>

  <div class="field">
    <%= f.label :target, '目標件数' %><br>
    <%= f.number_field :target, class: "" %>
  </div>

  <p>========================</p>

  <%= f.fields_for :cases do |c| %>
    <%= render 'case_fields', f: c %>
  <% end %>

  <div style="margin:20px">
    <%= link_to_add_association '実績の追加', f, :cases, { class: "btn btn-primary", style:"" } %>
  </div>

    <p style="font-size: 12px;"><%= f.check_box :is_submitted %>  実績報告を<B>提出</B>する場合はチェックを入れてください（チェックをつけずに更新ボタンを押すと一時保存ができます）</p>

  <div>
    <% if action_name == "new" %>
      <%= f.submit "更新", class:"btn btn-lg btn-success", style:"" %>
    <% else %>
      <%= f.submit "更新", class:"btn btn-lg btn-success", style:"" %>
    <% end %>
  </div>


<% end %>
