<h1>実施登録</h1>

<%= form_with(model: @report, local: true) do |f| %>

  <div class="field cf">
    <span class="col-common form-new-left">
      報告担当
    </span>
    <span class="col-common form-new-right">
      <%= @user.name %>
    </span>
  </div>

  <div class="field cf">
    <span class="col-common form-new-left">
      <%= f.label :date, '日　　付' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.date_field :date, value: Date.current, class: "" %>
    </span>
  </div>

  <div class="field cf">
    <span class="col-common form-new-left">
      <%= f.label :store_id, '実施場所' %>
    </span>
    <span class="col-common form-new-right">
      <%= f.collection_select :store_id, @stores, :id, :name, include_blank: '実施場所を選択', class: "" %>
    </span>
  </div>

<%= f.submit '登録', data: { confirm: "開始報告します。よろしいですか？" }, title: '確認', class: "btn btn-lg btn-success button-send" %>

<% end %>

<p class="back-to-top"><%= link_to 'トップに戻る', root_path %></p>